In [2]:
import pandas as pd
import numpy as np
import csv
import time

In [3]:
#Metodo que transforma texto em lista. Serve somente para o formato da última coluna do dataset
def strToList(array):
    array = array.replace("'","")
    array = array.replace("[","")
    array = array.replace("]","")
    array = array.replace(" ","")
    array = array.split(",")
    return array[:]

In [4]:
#Dados de entrada e corrigidos
original = "data.csv"
adjusted = "adjusted_data.csv"

In [5]:
#Carregando dados
rawData = []
with open(original, 'r') as f:
    for line in f:
        rawData.append(line)
#Corrigindo erro de imporatção
s = "\'"
d = "\""
for i in range(0,len(rawData)):
    rawData[i] = rawData[i].replace(d,s)
    rawData[i] = rawData[i].replace("[",'\"[')
    rawData[i] = rawData[i].replace("]",']\"')

    
with open(adjusted, 'w') as f:
    for row in rawData:
        f.write(row)

data = pd.read_csv(adjusted)

In [6]:
data.head()

,id,screenName,tags,avatar,followersCount,friendsCount,lang,lastSeen,tweetId,friends
0,'1969527638','LlngoMakeEmCum_',[ '#nationaldogday' ],'http://pbs.twimg.com/profile_images/534286217...,319,112,'en',1472271687519,'769310701580083200',"[ '1969574754', '1969295556', '1969284056', '1..."
1,'51878493','_notmichelle',[ '#nationaldogday' ],'http://pbs.twimg.com/profile_images/761977602...,275,115,'en',1472270622663,'769309490038439936',"[ '60789485', '2420931980', '2899776756', '127..."
2,'1393409100','jesseayye',[ '#narcos' ],'http://pbs.twimg.com/profile_images/713282938...,120,107,'en',1472804144409,'771622623583186944',"[ '86868062', '19697415', '2998836604', '45629..."
3,'232891415','MrBrianLloyd',[ '#gloryoutnow' ],'http://pbs.twimg.com/profile_images/133440668...,492,325,'en',1472269186776,'769308131696467969',"[ '361335082', '1405248468', '24626354', '7256..."
4,'710130422907207680','sarahdorat_16',[ '#nationaldogday' ],'http://pbs.twimg.com/profile_images/767180520...,128,218,'en',1472271397356,'769309769144283137',"[ '1571896093', '768938323612008448', '2548665..."

In [7]:
ids = {}

for i in data.index:
    person_id = data.iloc[i,0].replace(s,"")
    ids[person_id] = i

In [9]:
m = np.zeros((len(data),len(data)))

In [11]:
#teste com a primeira linha

#procurar o id no dataset
for i in data.index:
    friends = strToList(data.iloc[i,-1])
    for friend in friends:
        #print(friend, "is friends with", ids[friend], "Row:", i)
        try:
            m[i,ids[friend]] = 1
        except:
            pass

In [ ]:
count1 = 0
count0 = 0
for i in range(m.shape[0]):
    for j in range(m.shape[1]):
        if m[i,j] == 1:
            count1 += 1
        elif m[i,j] == 0:
            count0 += 1
print('zeros:', count0, 'uns:', count1)